<html>

    <head>
    <style type="text/css">
        .rand {
            margin-top: 0%;
            margin-left: 5% !important;
            margin-right:15% !important;
            }
        body {    
            margin: 0 !important;
            padding: 0 !important;
            background-color: #eeeeee;
            display: flex;
    min-height: 100vh;
    flex-direction: column;
            }
        main {
    flex: 1 0 auto;
  }
        .weiß {
            background-color: #eeeeee;
        }
        .DivToScroll {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}
.DivWithScroll {
    height:600px;
    overflow:scroll;
    overflow-x:hidden;
}
        .eingeruecktEins {
            margin-left:10%;
            margin-right:10%;
        }
        .eingeruecktZwei{
            margin-left: 11%;
            margin-right:11%;
        }
        
    
        </style>
        <link rel="shortcut icon" href="../static/images/lightbulb1.png" type="image/png" />
        <link rel="icon" href="../static/images/lightbulb1.png" type="image/png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    
    </head>
    
    <body>
        
        <title>Anton Treiner</title>
        <div class="navbar-fixed">
        <nav class="nav-extended grey darken-3">
    <div class="nav-wrapper">
        <a class="brand-logo center">Anton Treiner</a>
        <a href="#" data-activates="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="../views/AT_Webseite_Home.html" class="waves-light waves-effect" title="Hier gelangen Sie zur Home Ansicht!"><i class="material-icons left " >home</i>Home</a></li>
        <li><a href="../views/AT_Webseite_Service.html" class="waves-light waves-effect" style="background-color:cadetblue"><i class="material-icons left" >build</i>Mein Service für Sie</a></li>
        <li><a href="../views/AT_Webseite_Kontakt.html" class="waves-light waves-effect"  ><i class="material-icons left" >person</i>Kontakt</a></li>
      </ul>
    </div>
            
  </nav>
            <ul class="sidenav" id="mobile-demo">
    <li><a href="../views/AT_Webseite_Home.html" class="waves-light waves-effect" title="Hier gelangen Sie zur Home Ansicht!" ><i class="material-icons left " >home</i>Home</a></li>
        <li><a href="../views/AT_Webseite_Service.html" class="waves-light waves-effect" style="background-color:cadetblue"><i class="material-icons left" >build</i>Mein Service für Sie</a></li>
        <li><a href="../views/AT_Webseite_Kontakt.html" class="waves-light waves-effect"><i class="material-icons left" >person</i>Kontakt</a></li>
  </ul>
            
            </div>
        
        
        <div class="left-align">
        
        <div class="weiß"  >
            <div style="margin-left:10%;margin-right:10%">
        <h5>Über mich</h5>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ips4m dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <p></p>
        <p></p>
        <h5>Referenzen</h5>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <p>fsdsdfsdf</p>
        <p></p>
        <h5>Nehmen Sie Kontakt mit mir auf!</h5>
        <p>dfdssssssssssssssssssssssssssssssssssssdfssdfjifdjfdkdfsjkfgsjkfdsnjndfnjnjk</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        </div>
            </div>
        
            <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12 grey darken-3">
                <h5 class="white-text">Impressum</h5>
                <p class="grey-text text-lighten-4">Anton Treiner</p>
                <p class="grey-text text-lighten-4">Weiherstraße 20</p>
                <p class="grey-text text-lighten-4">75446 Wiernsheim</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            </div>
          </div>
        </footer>

<script src="http://code.jquery.com/jquery-latest.min.js"></script> 
<!-- Compiled and minified JavaScript --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script> 
<script>
 $( document ).ready(function(){
  $(".sidenav-trigger").sideNav();
});
    $('.sidenav-trigger').sideNav({
    menuWidth: 300, // Default is 240
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
  }
);
</script>
            
            
    </body>
    
    
    
</html>